<!-- TODO: P2 -->
<!--
<h2>תגובות</h2>
<div class="leftbox">
    <p ng-repeat="comment in entity.comments"><span>[[comment.user.first_name]]: </span>[[comment.text]]</p>
</div>
<h2>השאר/י תגובה</h2>
<div class="leftbox">
    <textarea class='noborder' ng-model="cmnt"></textarea>
</div>
<p class="button">
    <input ng-show="$parent.user" type="submit" value="שלח" class="submit comment_btn send" ng-class="{ active: cmnt != '' }" ng-click="$parent.createComment(cmnt, type)">
    <input ng-hide="$parent.user" type="submit" value="הרשם ושלח" class="submit comment_btn login" ng-class="{ active: cmnt != '' }" ng-click="$parent.loginAndSend(cmnt, type)">
</p>
-->