<div class="banner-area">
    <div class="site-width">
        <h1>מגזין</h1>
    </div>
</div>
<div class="body">
    <div class="site-width">
        <article class="gallery1">
            <section ng-repeat="item in promotions" ng-switch on="item.size">
                <img ng-switch-when="small" ng-src="[[item.picture.url]]/convert?w=158&h=330&fit=crop" alt="" />
                <img ng-switch-when="medium" ng-src="[[item.picture.url]]/convert?w=330&h=330&fit=crop" alt="" />
                <img ng-switch-when="large" ng-src="[[item.picture.url]]/convert?w=502&h=330&fit=crop" alt="" />
            </section>
        </article>
        <article class="border-part3_2">
            <h3>לפי תאריך</h3>
            <div class="post" ng-repeat="post in posts">

                <a href="[[post.navigation.url]][[post.url]]"><div class="feature"><img ng-src="[[post.picture.url]]/convert?w=254&h=107&fit=crop"></div></a>
                    <div class="post-data">
                        <a href="[[post.navigation.url]][[post.url]]"><h1>[[post.title]]</h1></a>
                        <p>
                            <span>
    מאת:
                                <a href="[[navigation.broadcasters]]/[[post.user._id]]" class="author">[[post.user.first_name]] [[post.user.last_name]]</a> [[post.date | date]]
                            </span>
                            <a href="[[post.navigation.url]][[post.url]]"><br>[[post.text | st | truncate ]]קרא עוד >></a>
                        </p>
                    </div>

            </div>

            <p class="navigation"><a href="javascript:;" data-ng-click="loadMore($event)" >לכל הכתבות >></a></p>
        </article>
    </div>
</div>

<!-- TODO: P2 -->
<!--div class="site-width">
    <div class="facebook-section-2">
        <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=50" scrolling="no" frameborder="0" style="border:none; overflow:hidden;width:380px; height:50px;" allowTransparency="true"></iframe>
    </div>
</div-->